<div class="container">

  <h1>Foodie, <small> A Relational Rails Exploration</small></h1>

  <%= link_to 'Restaurants', '/restaurants' %>
  <%= link_to 'Farmers Markets', '/farmers_markets' %>
  <%= link_to 'Dishes', '/dishes' %>
  <%= link_to 'Produce', '/produces' %>
</div>
