<div class="container">

  <h1>Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
  <table class="table">
    <%= restaurant.name %>
    <%= link_to "Edit #{restaurant.name}", "/restaurants/#{restaurant.id}/edit" %><br>
    <%= link_to "Delete #{restaurant.name}", "/restaurants/#{restaurant.id}", method: :delete %><br>
  </table>
  <% end %>

  <%= link_to 'Create New Restaurant', '/restaurants/new' %>
</div>
